<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<table class = "table table-bordered table-striped">
  <thead>
    <tr>
      <th>RecordId</th>
      <th>Fieldname</th>
      <th>Fieldto</th>
      <th>Export</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.recordid %></td>
        <td><%= product.fieldname %></td>
        <td><%= product.fieldto %></td>
        <td><%= product.export %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= will_paginate @products %>
<h3>Import a CSV File</h3>
  <%= form_tag import_products_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= select_tag(:object, options_for_select([['Invoices',1],['Orders',2],['Expenses',3]])) %>
    <%= select_tag(:export, options_for_select([['Do not update Exported Flag',2],['Mark Records as Exported No',0],['Mark records as Exported Yes',1]])) %>
    <p>Site URL</p>
    <%= text_field_tag :site %>
    <p>Credentials</p>
    <%= text_field_tag :credentials %>
    <%= submit_tag "Import CSV", class: "btn btn-primary" %>
  <% end %>

</div>
